In [1]:
import pandas as pd
import sqlite3

dbGroupLens = sqlite3.connect("moviesGroupLens.db")
#dbIMDB = sqlite3.connect("moviesIMDB.db")
#dbClass = sqlite3.connect("moviesClass.db")

def qGroupLens(query):
    return pd.read_sql(query,dbGroupLens)

#def qIMDB(query):
#    return pd.read_sql(query,dbIMDB)

#def qClass(query):
#    return pd.read_sql(query,dbClass)

In [ ]:
df = qGroupLens("SELECT movieId, imdbId, userId, title, genres, rating FROM moviesGroupLens WHERE userID !='NaN' ORDER BY userId ASC")
#dbGroupLens("SELECT * FROM moviesGroupLens WHERE isOriginalTitle=1 AND averageRating>9 AND numVotes>40000 GROUP BY id ORDER BY averageRating DESC")
#movieTitles = df['title']
#userId = df['userId']
userMovieRating = df[['movieId', 'userId', 'rating']]
#print(userMovieRating.head(20))

userMovieRating.set_index(['movieId','userId'], inplace=True)
userMovieRating = userMovieRating.stack(0).unstack(1)
#userMovieRating = userMovieRating.unstack(1)
userMovieRating.fillna(0, inplace=True)
print(userMovieRating.head(5))

movies = userMovieRating.columns
print(movies)
users = userMovieRating.index
print(users)

In [193]:
userR = userMovieRating.values

In [194]:
import numpy as np
from sklearn.decomposition import NMF
import pandas as pd

# movie, ratings by users
#data = [
#    [5, 3, 0, 1],
#    [4, 2, 0, 1],
#    [1, 1, 0, 5],
#    [1, 0, 0, 4],
#    [0, 1, 5, 4],
#]
#dataT = data.transform()
#movies = ['Titanic', 'Tiffany', 'Terminator', 'Star Trek', 'Star Wars']
#users = ['u1', 'u2', 'u3', 'u4']

#R = pd.DataFrame(dataT, index=user, columns=movies).values

In [195]:
# model assumes R ~ PQ'
model = NMF(n_components=2, init='random', random_state=10)
print(model.fit(userR))

NMF(alpha=0.0, beta_loss='frobenius', init='random', l1_ratio=0.0,
  max_iter=200, n_components=2, random_state=10, shuffle=False,
  solver='cd', tol=0.0001, verbose=0)

In [196]:
P = model.components_  # movie feature
print(P)

[[0.02477578 0.07500893 0.         ... 0.50714661 0.         1.35250505]
 [0.66859646 0.         0.01842844 ... 0.7939273  0.10361866 0.021616  ]]

In [197]:
Q = model.transform(userR)  # user feature
print(Q)

[[2.9846597  3.55936834]
 [1.1423627  2.46500841]
 [0.         0.3186625 ]
 ...
 [0.24144106 0.        ]
 [0.19938981 0.00636281]
 [0.06130727 0.01959633]]

In [198]:
print(model.reconstruction_err_)

1004.8718592962346

In [ ]:
nR = np.dot(Q, P)
print(nR.T)
#movies = ['Titanic', 'Tiffany', 'Terminator', 'Star Trek', 'Star Wars']
#users = ['u1', 'u2', 'u3', 'u4']
nRDf = pd.DataFrame(nR.T)#, columns = movies, index = users)

import seaborn as sns
sns.heatmap(nRDf, annot=True)
plt.show()

[[2.45372833e+00 1.67639882e+00 2.13056617e-01 ... 5.98188945e-03
  9.19418722e-03 1.46209689e-02]
 [2.23876116e-01 8.56873984e-02 0.00000000e+00 ... 1.81102346e-02
  1.49560154e-02 4.59859270e-03]
 [6.55936024e-02 4.54262571e-02 5.87245238e-03 ... 0.00000000e+00
  1.17256597e-04 3.61129684e-04]
 ...
 [4.33953972e+00 2.53638283e+00 2.52994854e-01 ... 1.22446016e-01
  1.06171472e-01 4.66498332e-02]
 [3.68816988e-01 2.55420875e-01 3.30193817e-02 ... 0.00000000e+00
  6.59305534e-04 2.03054501e-03]
 [4.11370663e+00 1.59833495e+00 6.88820880e-03 ... 3.26550257e-01
  2.69813265e-01 8.33419914e-02]]

KeyboardInterrupt:

In [ ]:
# 
query = [[0, 0, 5, 0]]
print(model.transform(query))

In [20]:
q2("SELECT * FROM moviesDB")

,id,ordering,title,language,isOriginalTitle,averageRating,numVotes,titleType,primaryTitle,originalTitle,startYear,endYear,runTimeMinutes,genres
0,tt0000001,1.0,Carmencita - spanyol tánc,\N,0,5.8,1426.0,short,Carmencita,Carmencita,1894,\N,1,"Documentary,Short"
1,tt0000001,2.0,Карменсита,\N,0,5.8,1426.0,short,Carmencita,Carmencita,1894,\N,1,"Documentary,Short"
2,tt0000001,3.0,Carmencita,\N,0,5.8,1426.0,short,Carmencita,Carmencita,1894,\N,1,"Documentary,Short"
3,tt0000001,4.0,Carmencita,\N,1,5.8,1426.0,short,Carmencita,Carmencita,1894,\N,1,"Documentary,Short"
4,tt0000002,1.0,Le clown et ses chiens,\N,1,6.4,168.0,short,Le clown et ses chiens,Le clown et ses chiens,1892,\N,5,"Animation,Short"
5,tt0000002,2.0,A bohóc és kutyái,\N,0,6.4,168.0,short,Le clown et ses chiens,Le clown et ses chiens,1892,\N,5,"Animation,Short"
6,tt0000002,3.0,Le clown et ses chiens,\N,0,6.4,168.0,short,Le clown et ses chiens,Le clown et ses chiens,1892,\N,5,"Animation,Short"
7,tt0000002,4.0,Clovnul si cainii sai,\N,0,6.4,168.0,short,Le clown et ses chiens,Le clown et ses chiens,1892,\N,5,"Animation,Short"
8,tt0000002,5.0,The Clown and His Dogs,\N,0,6.4,168.0,short,Le clown et ses chiens,Le clown et ses chiens,1892,\N,5,"Animation,Short"
9,tt0000002,6.0,Клоун и его собаки,\N,0,6.4,168.0,short,Le clown et ses chiens,Le clown et ses chiens,1892,\N,5,"Animation,Short"
10,tt0000003,1.0,Sarmanul Pierrot,\N,0,6.6,1024.0,short,Pauvre Pierrot,Pauvre Pierrot,1892,\N,4,"Animation,Comedy,Romance"
11,tt0000003,2.0,Szegény Pierrot,\N,0,6.6,1024.0,short,Pauvre Pierrot,Pauvre Pierrot,1892,\N,4,"Animation,Comedy,Romance"
12,tt0000003,3.0,Бедный Пьеро,\N,0,6.6,1024.0,short,Pauvre Pierrot,Pauvre Pierrot,1892,\N,4,"Animation,Comedy,Romance"
13,tt0000003,4.0,Pauvre Pierrot,\N,1,6.6,1024.0,short,Pauvre Pierrot,Pauvre Pierrot,1892,\N,4,"Animation,Comedy,Romance"
14,tt0000003,5.0,Poor Pierrot,\N,0,6.6,1024.0,short,Pauvre Pierrot,Pauvre Pierrot,1892,\N,4,"Animation,Comedy,Romance"
15,tt0000003,6.0,Pauvre Pierrot,\N,0,6.6,1024.0,short,Pauvre Pierrot,Pauvre Pierrot,1892,\N,4,"Animation,Comedy,Romance"
16,tt0000004,1.0,Un bon bock,\N,1,6.4,100.0,short,Un bon bock,Un bon bock,1892,\N,\N,"Animation,Short"
17,tt0000004,2.0,Un ţap de bere,\N,0,6.4,100.0,short,Un bon bock,Un bon bock,1892,\N,\N,"Animation,Short"
18,tt0000004,3.0,Un bon bock,\N,0,6.4,100.0,short,Un bon bock,Un bon bock,1892,\N,\N,"Animation,Short"
19,tt0000004,4.0,Полная кружка пива,\N,0,6.4,100.0,short,Un bon bock,Un bon bock,1892,\N,\N,"Animation,Short"
20,tt0000004,5.0,A Good Beer,\N,0,6.4,100.0,short,Un bon bock,Un bon bock,1892,\N,\N,"Animation,Short"
21,tt0000004,6.0,Egy jó pohár sör,\N,0,6.4,100.0,short,Un bon bock,Un bon bock,1892,\N,\N,"Animation,Short"
22,tt0000005,1.0,Blacksmithing Scene,\N,0,6.2,1720.0,short,Blacksmith Scene,Blacksmith Scene,1893,\N,1,"Comedy,Short"
23,tt0000005,2.0,Сцена в кузне,\N,0,6.2,1720.0,short,Blacksmith Scene,Blacksmith Scene,1893,\N,1,"Comedy,Short"
24,tt0000005,3.0,Blacksmith Shop,\N,0,6.2,1720.0,short,Blacksmith Scene,Blacksmith Scene,1893,\N,1,"Comedy,Short"
25,tt0000005,4.0,Blacksmith Scene #1,\N,0,6.2,1720.0,short,Blacksmith Scene,Blacksmith Scene,1893,\N,1,"Comedy,Short"
26,tt0000005,5.0,Blacksmithing,\N,0,6.2,1720.0,short,Blacksmith Scene,Blacksmith Scene,1893,\N,1,"Comedy,Short"
27,tt0000005,6.0,A patkolókovács,\N,0,6.2,1720.0,short,Blacksmith Scene,Blacksmith Scene,1893,\N,1,"Comedy,Short"
28,tt0000005,7.0,Blacksmith Scene,\N,0,6.2,1720.0,short,Blacksmith Scene,Blacksmith Scene,1893,\N,1,"Comedy,Short"
29,tt0000005,8.0,Blacksmith Scene,\N,1,6.2,1720.0,short,Blacksmith Scene,Blacksmith Scene,1893,\N,1,"Comedy,Short"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6779880,tt9197490,NaN,None,None,None,NaN,NaN,tvEpisode,Moore vs Butler,Moore vs Butler,\N,\N,\N,"Reality-TV,Talk-Show"
6779881,tt9197494,NaN,None,None,None,NaN,NaN,tvEpisode,Episode #1.6,Episode #1.6,\N,\N,\N,Drama
6779882,tt9197496,NaN,None,None,None,NaN,NaN,tvEpisode,Johnson/Davis vs Johnson,Johnson/Davis vs Johnson,\N,\N,\N,"Reality-TV,Talk-Show"
6779883,tt9197498,NaN,None,None,None,NaN,NaN,tvEpisode,I Betcha,I Betcha,\N,\N,\N,"Comedy,Documentary,News"
6779884,tt9197500,NaN,None,None,None,NaN,NaN,tvEpisode,Brown-Murray vs Murray,Brown-Murray vs Murray,2015,\N,\N,"Reality-TV,Talk-Show"
6779885,tt9197502,NaN,None,None,None,NaN,NaN,tvEpisode,Grier vs Thompson/Toles,Grier vs Thompson/Toles,\N,\N,\N,"Reality-TV,Talk-Show"
6779886,tt9197504,NaN,None,None,None,NaN,NaN,tvEpisode,Episode #1.7,Episode #1.7,\N,\N,\N,Drama
6779887,tt9197506,NaN,None,None,None,NaN,NaN,movie,The Color Red,The Color Red,2018,\N,\N,\N
6779888,tt9197508,NaN,None,None,None,NaN,NaN,tvEpisode,Episode #1.8,Episode #1.8,\N,\N,\N,Drama
6779889,tt9197510,NaN,None,None,None,NaN,NaN,tvEpisode,Hilbert vs Barnes,Hilbert vs Barnes,\N,\N,\N,"Reality-TV,Talk-Show"
6779890,tt9197512,NaN,None,None,None,NaN,NaN,short,Back Home Late,Back Home Late,2017,\N,\N,"Short,Thriller"
6779891,tt9197514,NaN,None,None,None,NaN,NaN,videoGame,Free Fire,Free Fire,2017,\N,\N,Action
6779892,tt9197516,NaN,None,None,None,NaN,NaN,tvEpisode,Fields vs Nichelson,Fields vs Nichelson,\N,\N,\N,"Reality-TV,Talk-Show"
6779893,tt9197518,NaN,None,None,None,NaN,NaN,tvEpisode,Schenck vs Robinson,Schenck vs Robinson,\N,\N,\N,"Reality-TV,Talk-Show"
6779894,tt9197520,NaN,None,None,None,NaN,NaN,short,Seinfeld: The Leaning Susan,Seinfeld: The Leaning Susan,2015,\N,\N,"Comedy,Short"
6779895,tt9197522,NaN,None,None,None,NaN,NaN,tvEpisode,Caine vs Wright,Caine vs Wright,\N,\N,\N,"Reality-TV,Talk-Show"
6779896,tt9197524,NaN,None,None,None,NaN,NaN,movie,The Barcoo Remembers,The Barcoo Remembers,2018,\N,54,Documentary
6779897,tt9197526,NaN,None,None,None,NaN,NaN,tvEpisode,Smith vs Brooker,Smith vs Brooker,\N,\N,\N,"Reality-TV,Talk-Show"
6779898,tt9197528,NaN,None,None,None,NaN,NaN,movie,The Girl on the Photo,The Girl on the Photo,\N,\N,\N,Horror
6779899,tt9197532,NaN,None,None,None,NaN,NaN,tvEpisode,Zara vs Nadeau/McCafferey,Zara vs Nadeau/McCafferey,\N,\N,\N,"Reality-TV,Talk-Show"
6779900,tt9197536,NaN,None,None,None,NaN,NaN,tvEpisode,Davis vs Smith,Davis vs Smith,\N,\N,\N,"Reality-TV,Talk-Show"
6779901,tt9197538,NaN,None,None,None,NaN,NaN,tvEpisode,McMahon/Wilridge vs Swan/Williams,McMahon/Wilridge vs Swan/Williams,\N,\N,\N,"Reality-TV,Talk-Show"
6779902,tt9197540,NaN,None,None,None,NaN,NaN,tvEpisode,Episode #1.9,Episode #1.9,\N,\N,\N,Drama
6779903,tt9197542,NaN,None,None,None,NaN,NaN,tvEpisode,Wiseman vs New/Duncan,Wiseman vs New/Duncan,\N,\N,\N,"Reality-TV,Talk-Show"
6779904,tt9197544,NaN,None,None,None,NaN,NaN,short,Blind Sex,Blind Sex,2012,\N,\N,"Comedy,Short"
6779905,tt9197548,NaN,None,None,None,NaN,NaN,tvEpisode,Murphy vs Myles,Murphy vs Myles,\N,\N,\N,"Reality-TV,Talk-Show"
6779906,tt9197550,NaN,None,None,None,NaN,NaN,tvEpisode,Episode #1.1285,Episode #1.1285,\N,\N,\N,Drama
6779907,tt9197552,NaN,None,None,None,NaN,NaN,tvEpisode,Episode #1.1286,Episode #1.1286,\N,\N,\N,Drama
6779908,tt9197554,NaN,None,None,None,NaN,NaN,tvEpisode,Morrow vs Curry,Morrow vs Curry,\N,\N,\N,"Reality-TV,Talk-Show"
6779909,tt9197558,NaN,None,None,None,NaN,NaN,tvEpisode,Episode #1.1288,Episode #1.1288,\N,\N,\N,Drama

In [ ]:
# dbIMDB("SELECT * FROM moviesDB WHERE isOriginalTitle=1 AND averageRating>1 AND numVotes>1000 GROUP BY id ORDER BY averageRating DESC")

In [39]:
q2("SELECT * FROM reviews LIMIT 10")

                     title     genre  rating  reviewer
0                Inception  Thriller       5      Paul
1                  Titanic     drama       4  Kristian
2                  Memento  Thriller       5    Helena
3            The Lion King   Cartoon       5      Paul
4                Evil Dead    Horror       4       Tom
5  Texas Chainsaw Massacre    Horror       3      Paul
6                  Carnage    Comedy       5  Matthias
7                  Titanic     drama       4  Kristian
8                    Shrek   cartoon       5  Kristian
9             Pulp Fiction     Crime       5    Helena

In [37]:
q2("SELECT genre, reviewer FROM reviews LIMIT 5")

      genre  reviewer
0  Thriller      Paul
1     drama  Kristian
2  Thriller    Helena
3   Cartoon      Paul
4    Horror       Tom

In [60]:
q2("""SELECT genre, reviewer, count(rating), avg(rating) 
   FROM reviews 
   GROUP BY genre, reviewer 
   LIMIT 5""")

       genre  reviewer  count(rating)  avg(rating)
0       None      None              0          NaN
1       None    Julian              2          1.5
2       None  Kristian              1          5.0
3         ??    Julian              1          4.0
4  Adventure    Felipe              1          1.0

In [58]:
# the order of the commands matter: SELECT / FROM / 1. WHERE / 2. GROUP BY (aggregate) / 3. HAVING / ORDER BY / DESC / LIMIT
q2("""SELECT genre, title, rating 
   FROM reviews 
   WHERE reviewer='Helena' 
   GROUP BY genre 
   ORDER BY rating DESC, title ASC 
   LIMIT 5""")

      genre                         title  rating
0   Mystery          Der unsichtbare Gast       5
1  Thriller                       Memento       5
2     Crime                  Pulp Fiction       5
3    Sci-Fi                    12 Monkeys       4
4    Comedy  Teenage Mutant Ninja Turtles       1

In [56]:
 q2("""SELECT genre, count(rating), avg(rating) 
    FROM reviews 
    GROUP BY genre 
    HAVING count(title)>= 3 
    ORDER BY count(title) DESC 
    LIMIT 10")

      genre  count(rating)  avg(rating)
0     Drama              9     3.777778
1    Comedy              6     3.166667
2    Sci-Fi              4     4.500000
3      None              3     2.666667
4     Crime              3     4.000000
5    Horror              3     3.333333
6  Thriller              3     5.000000

In [57]:
q2("SELECT * FROM (SELECT reviewer, rating FROM reviews LIMIT 10) ORDER by reviewer") #subqueries

  reviewer  rating
0     None     NaN
1     None     NaN
2   Felipe     5.0
3   Felipe     5.0
4   Felipe     2.0
5   Felipe     1.0
6   Felipe     3.0
7   Felipe     1.0
8   Glynis     5.0
9   Glynis     5.0

In [ ]:
# other stuff: IF statements in SQL queries (e.g. to build decision trees)

In [ ]:
# Join databases using SQL:
"""SELECT m.title, r.rating FROM reviews r INNER JOIN movies m ON r.movie_id = m.movie_id"""

In [184]:
# get column names from the database
#c.execute('PRAGMA TABLE_INFO({})'.format('something'))
# collect names in a list
#names = [tup[1] for tup in c.fetchall()]
#print(names)

In [6]:
db_file = "movie.db"

import sqlite3
from sqlite3 import Error
def create_connection(db_file):
    """ 
    create a database connection to the SQLite database
    specified by the db_file
    :param db_file: database file
    :return: Connection object or None
    """
    try:
        conn = sqlite3.connect(db_file)
        print(conn)
        return conn
    except Error as e:
        print(e)
 
    return None

def select_all_tasks(conn):
    """
    Query all rows in the tasks table
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()
    cur.execute("SELECT * FROM tasks")
 
    rows = cur.fetchall()
 
    for row in rows:
        print(row)
 
 
def select_rating(conn, priority):
    """
    Query tasks by priority
    :param conn: the Connection object
    :param priority:
    :return:
    """
    cur = conn.cursor()
    cur.execute("SELECT * FROM id WHERE rating=?", (rating,))
 
    rows = cur.fetchall()
 
    for row in rows:
        print(row)
 
 
def main():
    database = "movie.db"
 
    # create a database connection
    conn = create_connection(database)
    with conn:
        print("1. Query rating:")
        select_rating(conn,1)
 
        #print("2. Query all tasks")
        #select_all_tasks(conn)
 
 
if __name__ == '__main__':
    main()

<sqlite3.Connection object at 0x10c9e1030>
1. Query rating:

NameError: name 'rating' is not defined