In [1]:
# def sqliteDBfromIMDB():
import pandas as pd
#import postgres as pg
import sqlite3
import sys
sys.path.insert(0, '../drivers')

In [2]:
df1 = pd.read_csv('../rawData/ml-latest-small/movies.csv', index_col=0) 
df1.head()

,title,genres
movieId,,
1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
2,Jumanji (1995),Adventure|Children|Fantasy
3,Grumpier Old Men (1995),Comedy|Romance
4,Waiting to Exhale (1995),Comedy|Drama|Romance
5,Father of the Bride Part II (1995),Comedy

In [3]:
df2 = pd.read_csv('../rawData/ml-latest-small/ratings.csv', index_col=1) 
df2.head()

         userId  rating  timestamp
movieId
1             1     4.0  964982703
3             1     4.0  964981247
6             1     4.0  964982224
47            1     5.0  964983815
50            1     5.0  964982931

In [4]:
df3 = pd.read_csv('../rawData/ml-latest-small/tags.csv', index_col=1) 
df3.head()

         userId              tag   timestamp
movieId
60756         2            funny  1445714994
60756         2  Highly quotable  1445714996
60756         2     will ferrell  1445714992
89774         2     Boxing story  1445715207
89774         2              MMA  1445715200

In [5]:
#df4 = pd.read_csv('../rawData/ml-latest-small/genome-scores.csv', index_col=0) 
#df4.head()

In [6]:
#df5 = pd.read_csv('../rawData/ml-latest-small/genome-tags.csv', index_col=0) 
#df5.head()

In [7]:
df6 = pd.read_csv('../rawData/ml-latest-small/links.csv', index_col=0) 
df6.head()

         imdbId   tmdbId
movieId
1        114709    862.0
2        113497   8844.0
3        113228  15602.0
4        114885  31357.0
5        113041  11862.0

In [8]:
db = sqlite3.connect('../database/ML_latsmall.db')
#db.executescript(DB_SETUP)
df1.to_sql('ml_movies', db)

In [9]:
df2.to_sql('ml_ratings', db)

In [10]:
df3.to_sql('ml_tags', db)

In [11]:
df6.to_sql('ml_links', db)